.list-group-item{
    padding: 20px 30px;
    cursor: pointer;
}

.list-group-item.active{
    background-color: #009d63;
    color: var(--main-text-color);
    font-weight: bold;
    border-color: #009d63;
}

.bg{
    height: 100vh;
    background-color: red;
}